---
interface Props {
	label: string;
}
const { label } = Astro.props;
---
<button id='btn'>{label}</button>
<script>
	function showMessage() {
		alert('Hello!');
	}
	document.getElementById('btn').addEventListener('click', showMessage);
</script>